<div class="container">
  <div class="row col-12">
    <h1><%= "All our #{Flat.count} flats" %></h1>
  </div>

  <div class="card-container">
      <% @flats.each do |flat| %>
          <div class="card" style="width: 18rem;">
            <% if flat.picture_url == nil %>
              <%= image_tag "https://source.unsplash.com/featured/?flat,city", class: "card-img-top" %>
            <% else %>
              <%= image_tag flat.picture_url, class: "card-img-top"%>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= flat.name %></h5>
              <p class="card-text"><%= flat.address %></p>
              <div class="details">
                <i class="fas fa-user-friends"></i><%= " #{flat.number_of_guests}" %>
                <i class="fas fa-euro-sign"></i><%= " #{flat.price_per_night}" %>
              </div>
            </div>
            <div class="card-body">
              <%= link_to "More info", flat_path(flat), class: "card-link" %>
              <%= link_to "Edit", edit_flat_path(flat), class: "card-link" %>
              <%= link_to "Remove",
              flat_path(flat),
              method: :delete,
              data: { confirm: "Are you sure you want to delete this flat?" },
              class: "card-link" %>
            </div>
          </div>
      <% end %>
  </div>
</div>
